.page-wrapper {
  max-width: 40%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
}

img {
  width: 60px;
  height: auto;
  margin: 0 auto 20px; /* Centra la imagen horizontalmente y agrega un margen inferior */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}

.recupero {
  color: #007bff;
  text-align: left;
  margin-bottom: 20px;
}

.recupero:hover {
  color: rgb(9, 12, 161);
  cursor: pointer;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin: auto;
}

.form-content {
  flex-grow: 1;
}

.boton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* Empuja los botones hacia la parte inferior */
}

.boton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%; /* Hacer que los botones ocupen todo el ancho del contenedor */
  max-width: none; /* Elimina cualquier límite de ancho máximo */
  margin-bottom: 10px; /* Espaciado entre botones */
}

.boton:last-of-type {
  margin-bottom: 0; /* Elimina el margen inferior del último botón */
}

.boton:hover {
  background-color: #0056b3;
}
